extends ../layouts/default

block content
	.container: .jumbotron
		img(src='/images/header.png', width='100%')
		h1 Welcome
		if user && user.canAccessKeystone
			p
				a(href='/keystone').btn.btn-lg.btn-primary Open the Admin
		else
			p
				a(href='/keystone/signin', style='margin-right: 10px').btn.btn-lg.btn-primary Sign in
				|  to use the Admin.
		hr