extends ../layouts/default

block intro
	.container
		h1 Orders
	
block content
	.container
		if orders.length
			each order in orders
				h3= order.orderNumber
					.pull-right.text-muted= order.orderPlacedOn
				
					

			
		else
			h3.text-muted There are no orders yet.
